* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

p {
  font-size: 14px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 400;
}

h3 {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  padding-top: 34px;
  margin-right: 5%;
}

a:visited {
  color: black;
}

.menupoint {
  position: relative;
  margin: 20px;
  padding: 7px;
  padding-right: 0;
  padding-left: 0;
}

.menupoint:hover {
  border-bottom: 1px solid #cd7a58;
}

.section-1 {
  background-color: #3f5366;

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.home-section1 {
  background-image: url("img/logo-header.png");
  background-position: 35%;
}

.subpage-section1 {
  height: 64vh;
}

.section-2 {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}

.section-principles {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}
.section-featured {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}

.section-exp {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}
.section-sector {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}

.section-cas {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}

.section-caseresult {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}

.section-9 {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}

.section-article {
  background-color: #f4f4f4;
  height: calc(100% - 75px);
  width: 100vw;
  scroll-snap-align: none;
  display: flex;
}

.section-clients {
  background-color: #f4f4f4;
  height: calc(100vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
}

.link-section {
  background-color: #617180;
  height: 50vh;
  width: 100vw;
  scroll-snap-align: end;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}

.link-section h3 {
  font-weight: 300;
  font-size: 28px;
}

.link-wrapper {
  position: relative;
  top: 30%;
}

.link-wrapper h4 {
  font-weight: 400;
  padding-bottom: 20px;
}

.link-home {
  background-color: #8b9b8c;
}
.link-principles {
  background-color: #8b9b8c;
}
.link-cases {
  background-color: #8b9b8c;
}

.link-case {
  background-color: #8b9b8c;
}

.section-footer {
  background-color: #464646;
  height: calc(50vh - 75px);
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 7%;
  color: white;
}

header {
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;

  transition: 0.3s;
}

.site-header {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.hide {
  top: -70px;
}

.theh1 {
  position: relative;
  top: 10vh;
}

#logo {
  /* background-image: url(/img/resposive-white.png); */
  height: 90px;
  width: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-bottom: 10px;
  position: relative;
  margin-left: 5%;
  transition: 0.3s;
}

.entry-content-txt {
  position: relative;
  top: 200px;
  margin-left: 6%;
  max-width: 650px;
  color: white;
}

.subpage-section1 .entry-content-txt {
  top: 185px;
}

.entry-content-txt h2 {
  font-size: 45px;
  font-weight: 300;
  padding-bottom: 30px;
}

.subpage-section1 h2 {
  padding-bottom: 0;
  font-size: 35px;
}

.entry-content-txt p {
  max-width: 550px;
}

.entry-hr {
  margin-top: 30px;
  max-width: 100px;
  border: none;
  height: 2px;
  background-color: #cd7a58;
}

.article-hr {
  margin-top: 30px;
  width: 100px;
}

.section-2-container {
  display: flex;
}

.section2-txt,
.section2-img {
  width: 50%;
  height: calc(100vh - 75px);
}

.section2-img {
  background-color: #495a57;
  display: flex;
  justify-content: center;
}

.section2-txt {
  position: relative;
  top: 150px;
}

.section-2-text {
  position: relative;
  margin-left: 12%;
}

.section-2-text h2 {
  max-width: 500px;
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 300;
}

.section-2-text p {
  max-width: 550px;
}

.section2-image {
  width: 87%;
  height: 90%;
  background-position: 93%;
  background-image: url("img/interflora2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 36px;
  margin-bottom: 20px;
}

.section-2-text p {
  margin-right: 73px;
}

.section-principles-con {
  display: flex;
}

.section-principles-col1 {
  width: 33.3%;
  background-color: #495a57;
  color: white;
  height: calc(100vh - 75px);
}

.section-principles-col2 {
  width: 66.6%;

  height: calc(100vh - 75px);
}

.section-principles-col1 h2 {
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 300;
  max-width: 200px;
}

.section-principles-col1 p {
  max-width: 310px;
}

.section-principles-text {
  position: relative;
  top: 100px;
  margin-left: 17.5%;
  max-width: 280px;
}
/* .article-con {
  display: flex;
} */
.section-featured-con {
  display: flex;
}

.section-featured-col {
  min-width: 33.3%;
  height: calc(100vh - 75px);
}

.section-featured-col1 {
  background-color: #3f5366;
}

.section-featured-text {
  position: relative;
  top: 100px;
  margin-left: 17.5%;
  color: white;
  max-width: 260px;
}

.section-featured-text p {
  max-width: 310px;
}

.section-featured-insights {
  background-color: #495a57;
}

.article-img1 {
  height: calc(50vh - 75px);

  background-image: url("img/peter-home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.article-img2 {
  height: calc(50vh - 75px);
  background-image: url("img/soren-home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.article-text {
  padding: 60px;
  padding-top: 50px;
}

.btn {
  margin-top: 20px;
  height: 44px;
  width: 100px;
  border: 1.8px solid black;
  text-align: center;
}

.section-2-text .btn p {
  margin-right: 0;
}

.btn p {
  padding-top: 10px;
}

.btn-white {
  margin-top: 20px;
  height: 44px;
  width: 100px;
  border: 1.8px solid white;
  text-align: center;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  color: white;
}

.btn-white:hover {
  color: black !important;
  background-color: #f4f4f4;
  border-color: #f4f4f4 !important;
  transition: all 0.4s ease 0s;
  color: black;
  font-weight: bold;
  transform: scale(1.1);
}

.btn-white p {
  padding-top: 10px;
}

.link-btn {
  margin: auto;
  width: 124px;
  margin-top: 7px;
}

.section-cas-col1 {
  height: calc(50vh - 0px);
}

.section-cas-1-text {
  position: relative;
  margin-left: 6%;
  top: 80px;
}

.section-cas-1-text p {
  max-width: 550px;
}

.section-exp-col1 {
  height: calc(50vh - 75px);
  background-color: #617180;
  color: white;
}

/* .section-5-col2 {
  height: calc(50vh - 75px);
  margin-left: 5%;
} */

.section-exp-col2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 40px;
  padding-top: 50px;
  margin-left: 6%;
  margin-right: 6%;
}

.section-exp-1-text {
  position: relative;
  margin-left: 6%;
  top: 80px;
}

.section-exp-1-text p {
  max-width: 550px;
}

.col-6 {
}

.sector-txt-wrap {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 3%;
  margin-right: 3%;
}
.section-sector-con {
}

.section-sector-img {
  background-color: #464646;
  width: 50%;
}

.section-sector-col1 {
  display: flex;
}
.section-sector-col1 {
  background-color: #495a57;
  height: 50vh;
  display: flex;
}

.sector-text {
  padding-top: 50px;
  margin-left: 14%;
  margin-right: 14%;
}

.section-sector-text {
  position: relative;
  top: 80px;
  width: 50%;
  padding-left: 6%;
  padding-right: 6%;
  color: white;
}

.section-cas-col2 {
  display: flex;
}

.col-7 {
  width: 50%;
  height: calc(50vh - 75px);
}

/* .case-img-1,
.case-img-2 {
  background-color: #464646;
} */

.sec-caseresult-col1 {
  display: flex;
}

.case-img-1 {
  background-image: url("img/Produktfoto_Matas_Natur_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.case-img-2 {
  background-image: url(img/interflora.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.case-img-interflora {
  background-image: url("img/interflora2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65%;
}

.case-img-interflora2 {
  background-image: url("img/interflora3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
}

.case-img-matas {
  background-image: url("img/Produktfoto_Matas_Natur_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}

.case-img-matas2 {
  background-image: url("img/matas-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
}
.case-txt-1,
.case-txt-2 {
  background-color: #495a57;
  color: white;
  padding: 60px;
  padding-left: 50px;
  padding-top: 40px;
}

.top-1 {
  position: relative;
  /* top: 80px; */
  padding-right: 10%;
  padding-left: 5%;
}

.results-con {
  display: flex;
  /* padding-top: 100px; */
}

.sec-8-col1,
.sec-8-col2 {
  display: flex;
}

.top-1 {
  width: 70%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sec-8-col1 h2 {
  font-size: 40px;
  padding-bottom: 0;
}

.top-2 {
  width: 70%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-2 h3 {
  padding-top: 35px;
}

.case-img {
  width: 30%;
  height: calc(100vh - 75px);
  background-color: #8b9b8c;
}

.results-con div {
  width: 33.3%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px;
}

.result2 {
  margin-right: 50px;
  margin-left: 50px;
}

.reference-con {
  background-color: #495a57;
}

.sec-8-txt {
  padding-right: 10%;
  padding-left: 7%;
}

.reference {
  padding-right: 10%;
  padding-left: 7%;
  padding-bottom: 3%;
  color: white;
}

#burger {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.burgermenu {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

#burger-ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #3f5366;
  height: 100vh;
}

#burger a {
  color: white;
  font-size: 20px;
}

#burger li {
  padding: 15px;
}

#close {
  padding-left: 50%;
  padding-top: 12%;
  font-size: 25px;
  padding-bottom: 12%;
  color: white;
}

.article-wrapper {
  display: flex;
}

.hide {
  display: none;
}

.case-con {
  display: flex;
  width: 50%;
}

.articletext {
  width: 70%;
  padding-left: 6%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.articletext h4 {
  max-width: 30vw;
  font-weight: 300;
  font-size: 17px;
  padding-bottom: 10px;
}

.articletext h3 {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.articletext p {
  padding-bottom: 20px;
}

.articletext .entry-hr {
  margin-top: 30px;
  max-width: 100px;
  border: none;
  height: 2px;
  background-color: #cd7a58;
  margin-bottom: 40px;
}

.article-side {
  width: 30%;
  background-color: #495a57;
}

.img-peter {
  height: 55vh;
  background-image: url("img/pts-930x695.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.soren-img {
  height: 55vh;
  background-image: url("img/Soren-Ravn.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-rambuk {
  height: 55vh;
  background-image: url("img/rambuk_vinder_top.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-whitepaper {
  height: 55vh;
  background-image: url("img/whitepaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-side-bottom {
  color: white;
  text-align: right;
  padding: 25px;
}

.about-top {
  height: 50vh;
  background-color: #f4f4f4;
  scroll-snap-align: start;
}

.insights-top {
  height: 50vh;
  background-color: #464646;
  scroll-snap-align: start;
}

.about-bottom {
  display: flex;

  height: calc(50vh - 75px);
  justify-content: space-between;
  background-color: #f4f4f4;
}

.insights-bottom {
  display: flex;

  height: calc(50vh - 75px);
  justify-content: space-between;
  background-color: #f4f4f4;
}

.about-top-text {
  position: relative;
  margin-left: 6%;
  top: 80px;
}

.about-1 {
  background-color: #8b9b8c;

  color: white;
}

.about-2 {
  background-color: #495a57;

  color: white;
}

.about-3 {
  background-color: #464646;
  color: white;
}

.about-top-text p {
  max-width: 550px;
}

.about-bottom div {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 5%;
}

.about-cta {
  background-color: #495a57;
}

.clients-wrap {
  display: flex;
  flex-wrap: wrap;
}

.clients-col {
  height: calc(100vh - 75px);
  flex: 20%;
  max-width: 20%;
}

.clients-txt {
  color: white;
  margin-top: 26%;
  margin-right: 17%;
  margin-left: 14%;
}

.clients-col h3 {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 27%;
  margin-left: 12%;
}

.sub-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.sub-col1,
.sub-col2 {
  flex: 50%;
  max-width: 50%;
}

.sub-wrap img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 9vh;
  padding: 18px;
}
.clients-1 {
  background-color: #3f5366;
}

.insights-cta {
  background-color: #495a57;
}

.featured-insights {
  background-color: #617180;
}

ul {
  list-style: none;
}

.section-footer h4 {
  padding-bottom: 10px;
}

.footer-col1 {
  min-width: 200px;
}

.facebook {
  background-image: url("img/facebook-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 22%;
  transition: all 0.4s ease 0s;
}

.linkedin {
  background-image: url("img/linkedin-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 4px;
  height: 21px;
  width: 25%;
  transition: all 0.4s ease 0s;
}

.facebook:hover {
  transform: scale(1.2);
}
.linkedin:hover {
  transform: scale(1.2);
}

.social-icons {
  display: flex;
}

.icon-hr {
  width: 43%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.footer-hr {
  margin-top: 10px;
  margin-bottom: 30px;
}

.article-body .link-section {
  scroll-snap-align: none;
}

.article-body .section-footer {
  scroll-snap-align: none;
}

.article-body .subpage-section1 {
  scroll-snap-align: none;
}

.active {
  border-bottom: 1px solid white;
}

.active-black {
  border-bottom: 1px solid black;
}

.growing {
  animation: 1.5s grow ease forwards;
}

.slidein {
  animation: expand 0.8s ease forwards;
  transition: all 0.8s ease;
}

.slideout {
  animation: out 0.8s ease forwards;
  transition: all 0.8s ease;
}

.fade {
  animation: 2s fadeIn ease forwards 0.5s;
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes expand {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes out {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1400px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIAQUERYES */

@media only screen and (max-width: 1250px) {
  .section-2-text p {
    margin-right: 73px;
  }

  .case-txt-1,
  .case-txt-2 {
    background-color: #495a57;
    color: white;
    padding: 30px;
    padding-top: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .sector-text {
    padding-top: 50px;
    margin-left: 9%;
    margin-right: 9%;
  }
}

@media only screen and (max-width: 1000px) {
  .section-exp-col2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    padding-top: 30px;
    margin-left: 6%;
    margin-right: 6%;
  }

  .section-exp-col2 h3,
  .section-sector h3 {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
  }

  .section-sector-text {
    top: 60px;
  }

  .section-sector-col1 {
    height: 45vh;
  }

  .section-featured-text {
    position: relative;
    top: 100px;
    margin-left: 17.5%;
    color: white;
    max-width: 190px;
  }

  .article-text {
    padding-top: 50px;
    padding: 40px;
  }

  .case-txt-1,
  .case-txt-2 {
    background-color: #495a57;
    color: white;
    padding: 20px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 965px) {
  .subpage-section1 .entry-content-txt h2 {
    font-size: 33px;
    font-weight: 300;
    padding-bottom: 0;
    max-width: 50vw;
  }

  .sector-text {
    padding-top: 50px;
    margin-left: 12%;
    margin-right: 2%;
  }
}

@media only screen and (max-width: 890px) {
  .subpage-section1 .entry-content-txt h2 {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 0;
    max-width: 60vw;
  }
}

@media only screen and (max-width: 821px) {
  .case-txt-1,
  .case-txt-2 {
    background-color: #495a57;
    color: white;
    padding: 15px;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .burgermenu {
    display: none;
  }

  nav {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .subpage-section1 .entry-content-txt h2 {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 0;
    max-width: 65vw;
  }
}

/* @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  content-txt {
    position: relative;
    top: 200px;
    margin-left: 8%;
    max-width: 510px;
    color: white;
  }
} */

@media only screen and (max-width: 768px) {
  .burgermenu {
    display: block;
    padding-right: 10%;
    padding-top: 4%;
    margin-top: 4%;
  }

  .case-txt-1,
  .case-txt-2 {
    background-color: #495a57;
    color: white;
    padding: 50px;
    padding-top: 75px;
  }

  .section2-image {
    width: 87%;
    height: 90%;
    background-position: 93%;
    background-image: url("img/interflora2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .section-principles-col1 {
    width: 100%;
    background-color: #495a57;
    color: white;
    height: calc(50vh - 75px);
  }

  .section-principles-con {
    display: flex;
    flex-direction: column;
  }

  .section-principles-col1 p {
    max-width: 65%;
  }

  .section-principles-text {
    position: relative;
    top: 97px;
    margin-left: 7%;
    max-width: 100%;
    /* width: 100%; */
  }

  .section-principles-col1 h2 {
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 300;
    max-width: 100%;
  }
  .section-sector {
    background-color: #f4f4f4;
    height: calc(200vh - 75px);
    width: 100vw;
    scroll-snap-align: none;
  }

  .section-sector-col1 {
    scroll-snap-align: start;
  }

  .section-sector-col3 {
    scroll-snap-align: start;
  }
  .link-section {
    background-color: #617180;
    height: 47vh;
    width: 100vw;
    scroll-snap-align: end;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
  }

  .section-featured-col {
    width: 100%;
    height: calc(61vh - 75px);
  }

  .case-con {
    display: flex;
    width: 100%;
  }

  .section-2-text {
    position: relative;
    margin-left: 7%;
  }

  .section-2-container {
    display: flex;
    flex-direction: column;
  }

  .section2-txt {
    position: relative;
    top: 60px;
  }

  .section2-txt {
    width: 100%;
    height: calc(65vh - 75px);
  }
  .section2-img {
    width: 32%;
    height: calc(39vh - 75px);
    margin-left: 7%;
  }

  nav {
    display: none;
  }

  .section-featured-text {
    position: relative;
    top: 100px;
    margin-left: 7%;
    color: white;
    max-width: 100%;
  }

  .section-featured-con {
    display: flex;
    flex-direction: column;
  }

  .section-featured-text p {
    max-width: 370px;
  }

  .section-featured {
    background-color: #f4f4f4;
    height: calc(150vh - 75px);
    width: 100vw;
    scroll-snap-align: none;
  }

  .section-featured-col1 {
    scroll-snap-align: start;
  }

  .article-wrapper {
    scroll-snap-align: start;
  }

  .article-text {
    padding-top: 50px;
    padding-left: 48px;
    padding-right: 30px;
    /* max-width: 350px; */
  }

  .section-cas-col2 {
    display: flex;
    flex-direction: column;
  }

  .section-cas-col1 {
    height: calc(45vh - 0px);
  }

  .section-cas-col2 {
    scroll-snap-align: start;
    height: calc(100vh - 75px);
  }

  .col-7 {
    width: 50%;
    height: calc(56vh - 75px);
  }

  .case-con2 {
    flex-direction: row-reverse;
  }

  .section-cas {
    background-color: #f4f4f4;
    height: calc(145vh - 75px);
    width: 100vw;
    scroll-snap-align: start;
  }

  .section-cas-1-text {
    position: relative;
    margin-left: 8%;
    top: 80px;
  }

  .section-footer {
    height: 45vh;
    width: 100vw;
    scroll-snap-align: start;
  }
}

@media only screen and (max-width: 500px) {
  .btn p {
    padding-top: 10px;
  }
  .entry-hr {
    margin-top: 20px;
    max-width: 75px;
    border: none;
    height: 2px;
    background-color: #cd7a58;
  }
  #logo {
    margin-left: 1.7%;
    margin-top: 0;
  }
  .section-1 {
    height: 75vh;
    width: 100vw;
    scroll-snap-align: start;
  }

  .subpage-section1 {
    height: 55vh;
  }

  .footer-col1 {
    min-width: 125px;
  }

  .footer-col2 {
    padding-top: 16px;
  }

  .section-footer {
    padding-top: 20%;
  }

  .linkedin {
    height: 16px;
    width: 25%;
  }

  .facebook {
    height: 20px;
    width: 22%;
  }

  .subpage-section1 .entry-content-txt h2 {
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 0;
    max-width: 100vw;
  }

  .subpage-section1 .entry-content-txt h2 {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 0;
    margin-right: 10%;
  }

  .subpage-section1 .entry-content-txt {
    top: 135px;
  }

  .burgermenu {
    display: block;
    padding-right: 12%;
    padding-top: 5%;
    margin-top: 9%;
  }

  .entry-content-txt h2 {
    font-size: 25px;
    margin-right: 50px;
  }

  .entry-content-txt p {
    max-width: 315px;
  }

  .entry-content-txt {
    position: relative;
    top: 130px;
    margin-left: 7%;
    max-width: 650px;
    color: white;
  }

  p {
    font-size: 14px;
    font-weight: 300;
  }

  .section2-txt {
    position: relative;
    top: 46px;
  }

  .section-2-text p {
    margin-right: 45px;
  }

  .section-2-text h2 {
    max-width: 290px;
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: 300;
  }
  .section2-img {
    width: 100%;
    height: calc(47vh - 75px);
    margin-left: 0;
  }

  .section2-image {
    width: 91%;
    height: 90%;
    margin: auto;
    background-color: #f1f1f1;
  }

  .section-featured-col1 {
    min-width: 33.3%;
    height: calc(62vh - 75px);
  }

  .section-featured-col2,
  .section-featured-col3 {
    min-width: 33.3%;
    height: calc(100vh - 75px);
  }

  .section-featured-text {
    position: relative;
    top: 80px;
    margin-left: 7%;
    color: white;
    max-width: 70%;
  }

  .section-cas-1-text {
    position: relative;
    margin-left: 8%;
    top: 70px;
  }

  .section-exp {
    background-color: #f4f4f4;
    height: calc(146vh - 75px);
    width: 100vw;
    scroll-snap-align: start;
  }

  .section-exp-1-text {
    position: relative;
    margin-left: 6%;
    top: 80px;
    margin-right: 10%;
  }

  .section-exp-col2 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding-top: 25px;
    margin-left: 6%;
    margin-right: 6%;
    scroll-snap-align: start;
  }

  .section-exp-col1 {
    height: calc(56vh - 75px);
  }

  .section-exp-col2 h3 {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
  }

  .sector-text {
    padding-top: 90px;
    margin-left: 8%;
    margin-right: 15%;
  }

  .section-sector {
    height: calc(330vh - 75px);
  }

  .section-sector-con {
    display: grid;
    grid-template-columns: auto;
  }

  .section-sector-col2 {
    scroll-snap-align: start;
  }

  .section-sector-col4 {
    scroll-snap-align: start;
  }

  .section-sector-col1 {
    height: calc(62vh - 75px);
  }

  .section-sector-text {
    top: 70px;
    margin-left: 7%;
  }

  .article-wrapper {
    display: flex;
    flex-direction: column;
  }

  .section-cas {
    height: calc(233vh - 75px);
    width: 100vw;
    scroll-snap-align: none;
  }

  .section-cas-col2 {
    scroll-snap-align: none;
    height: calc(100vh - 75px);
  }

  .section-cas-col1 {
    scroll-snap-align: start;
  }

  .section-cas-1-text p {
    max-width: 300px;
  }

  h2 {
    font-size: 22px;
    padding-bottom: 20px;
    font-weight: 400;
  }

  .section-principles {
    height: calc(160vh - 75px);
    scroll-snap-align: none;
  }

  .section-principles-col1 h2 {
    font-size: 22px;
    padding-bottom: 30px;
    font-weight: 300;
    max-width: 100%;
  }

  .section-principles-text {
    position: relative;
    top: 55px;
    margin-left: 7%;
    max-width: 100%;
  }

  .section-principles-col1 p {
    max-width: 90%;
  }

  .section-principles-col1 {
    height: calc(60vh - 75px);
    scroll-snap-align: start;
  }

  .section-principles-col2 {
    width: 100%;
    height: calc(100vh - 75px);
    scroll-snap-align: start;
  }

  .case-con {
    scroll-snap-align: start;
  }

  .col-7 {
    width: 100%;
    height: 50%;
    padding-top: 50px;
    padding-left: 8%;
    padding-right: 64px;
  }

  .case-con {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
  }
  .section-featured {
    background-color: #f4f4f4;
    height: calc(240vh - 75px);
    width: 100vw;
    scroll-snap-align: none;
  }

  .section-featured-col1 {
    scroll-snap-align: start;
  }

  .section-featured-col2 {
    scroll-snap-align: start;
  }

  .section-featured-col3 {
    scroll-snap-align: start;
  }

  .article-wrapper {
    scroll-snap-align: none;
  }

  .article-text {
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 64px;
    /* max-width: 350px; */
  }

  .section2-image {
    width: 90%;
    height: 85%;
    margin: auto;
    background-color: #f1f1f1;
  }

  .result2 {
    margin: 0;
  }

  .sec-8-col1 h2 {
    font-size: 21px;
    padding-bottom: 0;
  }

  .top-1 {
    width: 70%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .results-con div {
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 25px;
  }

  .result2,
  .result1 {
    border-bottom: none !important;
  }

  .case-img {
    display: none;
  }
  .top-1 {
    width: 100%;
  }

  .top-2 {
    width: 100%;
  }

  .top-2 h3 {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .results-con {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
  }

  .results-con {
    display: flex;
    flex-direction: column;
  }

  .link-section h3 {
    font-weight: 300;
    font-size: 22px;
  }

  .link-section {
    height: 45vh;
  }

  @keyframes expand {
    0% {
      transform: translateX(400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

/* ipad pro */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .section-1 {
    background-color: #3f5366;
    height: 55vh;
    width: 100vw;
    scroll-snap-align: start;
  }

  .subpage-section1 {
    height: 40vh;
  }

  .section-principles {
    height: calc(66vh - 75px);
  }

  .section-principles-col1 {
    height: calc(66vh - 75px);
  }
}

/* ipad */

@media only screen and (width: 768px) and (height: 1024px) and (orientation: portrait) {
  .section-1 {
    background-color: #3f5366;
    height: 62vh;
    width: 100vw;
    scroll-snap-align: start;
  }

  .sec-8-txt {
    padding-top: 7%;
    padding-right: 10%;
    padding-left: 7%;
  }

  .reference {
    padding-right: 10%;
    padding-left: 7%;
    padding-bottom: 20%;
    padding-top: 8%;
    color: white;
  }

  .section-footer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 19%;
  }

  .subpage-section1 {
    height: 42vh;
  }

  .subpage-section1 .entry-content-txt {
    position: relative;
    top: 170px;
    margin-left: 7%;
    max-width: 650px;
    color: white;
  }
  .section2-txt {
    position: relative;
    top: 95px !important;
  }

  .section2-img {
    width: 85%;
    height: calc(52vh - 75px);
    margin-left: 7%;
  }

  .section2-image {
    width: 85%;
    height: 88%;
    margin: auto;
    background-color: #f1f1f1;
  }

  .section2-txt {
    width: 100%;
    height: calc(50vh - 75px);
  }

  .article-img1,
  .article-img2 {
    height: calc(37vh - 75px);
    background-color: #464646;
  }

  .section-featured-text {
    position: relative;
    top: 66px;
    margin-left: 7%;
    color: white;
    max-width: 100%;
  }

  .section-featured-col {
    min-width: 33.3%;
    height: calc(35vh - 75px);
  }

  .section-featured {
    background-color: #f4f4f4;
    height: calc(100vh - 75px);
    width: 100vw;
    scroll-snap-align: none;
  }

  .article-wrapper {
    scroll-snap-align: none;
  }

  .section-exp-col2 {
    grid-gap: 46px;
    padding-top: 80px;
  }

  .section-exp {
    background-color: #f4f4f4;
    height: calc(100vh - 75px);
    width: 100vw;
    scroll-snap-align: none;
  }

  .section-exp-col1 {
    height: calc(40vh - 75px);
    background-color: #617180;
    color: white;
    scroll-snap-align: start;
  }

  .section-sector {
    background-color: #f4f4f4;
    height: calc(100vh - 75px);
    width: 100vw;
    scroll-snap-align: none;
  }

  .section-sector-col1 {
    scroll-snap-align: start;
  }

  .section-sector-col3 {
    scroll-snap-align: start;
  }

  .col-7 {
    width: 50%;
    height: calc(39vh - 75px);
  }
  .section-cas-col1 {
    height: calc(30vh - 0px);
  }

  .col-7 {
    width: 50%;
    height: calc(38.7vh - 75px);
    padding: 53px;
    padding-top: 50px;
  }

  .section-cas-col2 {
    scroll-snap-align: none;
  }

  .section-cas {
    height: calc(100vh - 75px);
  }

  .link-section {
    height: 50vh;
    scroll-snap-align: start;
  }
}
